<header class="header">
  <h1>Nest-Blog</h1>
</header>

<nav class="topnav">
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>

  <div>
    <a href="/auth/login">Sign in</a>
    <a href="/auth/registration">Sign up</a>
  </div>
</nav>
